
.form-container{
    background-image: url('../../imgs/form-bg.png');
    background-size: cover;
    height: fit-content;
    overflow: scroll;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: white;
        margin-bottom: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .inputs-container{
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #543c77b9;
        border-radius: 20px;
        box-sizing: border-box;
        padding-top: 20px;
        

        .input-container{
            width: 80%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
    
            label{
                color: white;
                margin-bottom: 5px;
                font-size: 2.5dvh;
            }
    
            input{
                background-color: rgba(255, 255, 255, 0.877);
                border: none;
                border-radius: 5px;
                height: 4dvh;
                padding: 3px 10px;
                font-size: 2.5dvh;
            }

            span{
                height: 10px;
                color: red;
            }
        }
    }
    button{
        background-color: #72559F;
        color: white;
        width: 90%;
        border: none;
        height: fit-content;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 8px;
        margin-top: 15px;
        margin-bottom: 30px;
        &:disabled{
            opacity: 0.7;
        }
        &:active{
            background-color: #543c77;
        }
    }
}